html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #0E1B32;
  background-color: #FFF;
  overflow-x: hidden;
}

.section {
  display: block;
  position: relative;
  padding: 60px 0;
}

::selection {
  color: #FFF;
  background-color: #FF6B3A;
}

.container-fluid {
  max-width: 1536px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
