html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #0E1B32;
  background-color: #FFF;
  overflow-x: hidden;
}

.section {
  display: block;
  position: relative;
  padding: 60px 0;
}

::selection {
  color: #FFF;
  background-color: #FF6B3A;
}

.container-fluid {
  max-width: 1536px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

// industria page
.know-more a {
  color: yellow;
  text-decoration: underline;
}

// outsourcing page
#outsorcing {
  .page-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 2.1rem;
    color: #EA071E;
  }
  .mark {
    display: inline-block;
    color: #F8880B;
    background-color: transparent;
  }
}

// contact form page
.form-contact {
  display: block;
  position: relative;
  width: 100%;
  height: 700px;
  border: none;
  @media (max-width: 768px) { height: 810px; }
  @media (max-width: 576px) { height: 832px; }
}

form { padding: 10px;}

.form-control {
  border: 1px solid #d5d5d5;
  color: #00734A;
  &:focus,
  &:visited,
  &:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
}

label {
  color: #00734A;
  font-weight: 500;
}

.btn-send {
  background-color: #D8D9DA;
  border: 1px solid #D8D9DA;
  color: #808184;
  padding: 6px 8px;
  &:hover {
    background-color: #808184;
    border: 1px solid #D8D9DA;
    color: #D8D9DA;
  }
}
